@import url('https://fonts.googleapis.com/css?family=Roboto:100');

body {
  font-family: 'Poppins', sans-serif;
  align-items: center;
  margin: 0 auto 0 auto;
  width: 80%;
}

header {
  align-items: center;
  align-content: space-between;
  border-bottom: medium solid #7d97ad;
  display: flex;
  margin: 0 0 0 0;
}

.udacity-logo {
  height: auto;
  width: 25em;
}

.heading-text {
  text-align: right;
  width: 100%;
}

.page-title {
  color: #2d3c49;
  font-size: 3.5em;
  letter-spacing: .1em;
}

.page-subtitle {
  color: #2d3c49;
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
  margin: auto auto 1em auto;
}