@import url('https://fonts.googleapis.com/css?family=Roboto:100');

body {
  font-family: 'Roboto', sans-serif;
  align-items: center;
  margin: 0 auto 0 auto;
  width: 80%;
}

header {
  align-items: center;
  align-content: space-between;
  border-bottom: medium solid #7d97ad;
  display: flex;
  margin: 0 0 0 0;
}

.udacity-logo {
  height: auto;
  width: 20em;
}

.heading-text {
  text-align: right;
  width: 100%;
}

.page-title {
  color: #2d3c49;
  font-size: 3.5em;
  font-weight: 100;
  margin: .2em auto .2em auto;
}

.page-subtitle {
  color: #2d3c49;
  font-size: 1.25em;
  margin: 0 auto 1em auto;
}

.banner-logo img {
  height: 400px;
  width: 100%;
  margin: 10px auto auto auto;
}

.section-title {
  color: #2d3c49;
  font-size: 2em;
  font-weight: bold;
  margin: 1em auto 1em auto;
}

.featured-work article img {
  width: 33%;
}