@import url('https://fonts.googleapis.com/css?family=Roboto:100,500,700');

/* Common page elements */

body {
  font-family: 'Roboto', sans-serif;
  align-items: center;
  margin: 0 auto 0 auto;
  width: 80%;
}

a {
  color: #02b3e4;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

ul {
  padding-left: 1.5em;
}

/* Page Heading */

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  border-bottom: medium solid #7d97ad;
  margin: 20px 0 0 0;
  width: 100%;
}

.heading-banner {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.heading-logo {
  text-align: left;
  height: auto;
  width: 3.5em;
}

.heading-text {
  text-align: right;
  width: 100%;
}

.page-title {
  color: #2d3c49;
  font-size: 3.5em;
  font-weight: 100;
  margin: 0 auto 0 auto;
}

.page-subtitle {
  color: #2d3c49;
  font-size: 1.25em;
  margin: 0 auto 1em auto;
}

/* Page Body Elements */

.splash-image img {
  height: 400px;
  width: 100%;
  margin: 10px auto auto auto;
}

.splash-credit {
  font-size: small;
  text-align: end;
  margin: 0 0 0 0;
  width: 100;
}

.section-title {
  color: #7d97ad;
  font-size: 2em;
  font-weight: bold;
  margin: .5em auto .5em auto;
}

.featured-work {
  margin: 0 0 0 0;
  width: 100%;
}

.featured-work article img {
  border: thin solid #2d3c49;
  margin: auto auto .5em auto;
  width: 32.3%;
}

/* Page Footer Elements */

.page-footer {
  border-top: medium solid #7d97ad;
  margin: 2em auto 1em auto;
  width: 100%;
}

.footer-wrapper {
  display: flex;
  color: #7d97ad;
  align-items: center;
  justify-content: space-around;
  margin: auto auto auto auto;
  width: 25%;
}
